.grid_2-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.grid_5-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.grid_2-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.grid_3-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  grid-auto-rows: 250px;
}

.grid_1-1-1-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  display: block;
}

.macbook {
  grid-column: 1 / 3;
  grid-row: span 2;
}

.tablet {
  grid-column: 1;
}

.hund_med_tablet {
  grid-column: 2;
}

.code {
  grid-column: 1 / 3;
}

.desktop-setup {
  grid-column: span 2;
}

.keyboard {
  grid-column: 1 / 3;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex_col img {
    margin: 0;
    align-self: flex-start;
    display: block;
  }

  .flex_col :last-child {
    margin-top: auto;
  }

  p {
    font-size: 15px;
  }
  .p_gallei {
    max-width: 65ch;
    margin: 0 auto;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .grid_1-1-1-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
  }
  .macbook {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .tablet {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .hund_med_tablet {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .code {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }
  .desktop-setup {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .keyboard {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
  }
  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 10px;
  }

  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
  }

  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .order {
    order: -1;
  }

  #computer-old {
    width: 550px;
    height: auto;
  }

  .min-computer {
    width: 600px;
    height: auto;
    align-items: center;
  }

  body {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  img {
    width: 350px;
    height: auto;
    align-items: center;
    border-radius: 6px;
  }
}
